.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a9d3e9;
  height: 10vh;
  max-height: 100px;
  min-height: 50px;
  display: grid;
  place-items: center;
  z-index: 999;
  ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    li {
      font-size: 1.5rem;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}