.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(hotpink, .25);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 10vh;
  min-height: 110px;
  img {
    height: 90%;
    min-height: 100px;
    margin: 1rem 0;
  }
  nav {
    ul {
      display: flex;
      gap: 2rem;
      li {
        list-style: none;
        font-size: 2rem;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}